#formulaire {
  font-size: 15px;
  z-index: 10;

}

.button {
  width: 150px;
  color: white;
  background-color: black;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}

.button:hover {
  color: black;
  background-color: white;
  transform: scale(1.2);
  transition-delay: 0.2s;
  transition-duration: 0.5s;
  cursor: pointer;
}

.typeform {
  width: 100%;
}